* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background:#e9e9e9;
	font-size: 15px;
}
 
.contenedor {
	background:#ccc;
	font-family: "Avenir Next", "Avenir", sans-serif;
	margin:auto;

	display:flex;
	flex-flow:row wrap;
	flex-direction:column;
}

 
header {
	background:#2c3e50;
	width:100%;
	padding:2em;
    z-index: 100;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:2fr;
	
	& .search {
		background-color: #e67e22;
        border: 1px solid black;
        border-radius: 10px;
        margin: 0;
		padding: 0.5rem;
		max-height: 3.5rem;
		input{
			display: inline-block;
			width: 100%;
			margin-top: 0.3rem;
		}
		&:hover{
		box-shadow: 7px 6px 35px -2px #d8ada5;
		}
		& label{
			padding-left: 1rem;
			& i{
				padding-left: 1rem; 
				color: #efefef;
				&:hover{
				font-size: 1.5rem
				}
			}
		}
		
	}
}
 
header .logo {
	color:#fff;
	padding: 0.5em;
	font-size: 1.5em;
	text-align: center;
	align-items: center;

	display: flex;
	flex-direction: column;
}
 
header .logo img {
	width:2em;
}
 
header .logo h1 {
	color: #fff;
	font-size: 1em;
	padding: 0.5em;
}

//Articles-aside

.article_aside{

	display: flex;
	flex-direction: column;
	position: relative;

}


 //Hambuguesa

.nav_desktop {
	 display: none;	 
}

 .nav {
	
	font-size: small;
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	width: 100%;
	z-index: 3;

  }

  
  .nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
  }
  
  .nav li a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #f4f4f4;
	text-decoration: none;
  }
  
  .nav li a:hover,
  .nav .menu-btn:hover {
	background-color: #f4f4f4;
  }
  
  .nav .logo_nav {
	display: block;
	align-items: center;
	float: left;
	font-size: 1.5em;
	padding: 20px;
	text-decoration: none;
	color: #2c3e50;

  }

  .nav img {
	width: 1.em;
	height: 1.em;
	padding: 20px;
	}


  
  /* menu */
  
  .nav .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .nav .menu-icon {
	cursor: pointer;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
  }
  
  .nav .menu-icon .nav-icon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
  }
  
  .nav .menu-icon .nav-icon:before,
  .nav .menu-icon .nav-icon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .nav .menu-icon .nav-icon:before {
	top: 5px;
  }
  
  .nav .menu-icon .nav-icon:after {
	top: -5px;
  }
  
  /* menu btn */
  
  .nav .menu-btn {
	display: none;
  }
  
  .nav .menu-btn:checked ~ .menu {
	max-height: 240px;
  }
  
  .nav .menu-btn:checked ~ .menu-icon .nav-icon {
	background: transparent;
  }
  
  .nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
	transform: rotate(-45deg);
	top:0;
  }
  
  .nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
	transform: rotate(45deg);
	top:0;
  }

//Articles


.news {
	background: #f7f7f7;
	padding: 1em;
	flex:1 1 auto;

	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	justify-content: space-between;
	}


.article{
	flex:1 1 30%;
	color:#444;
	margin: 10px 10px 0 0px;
	padding: 0.5em;
	background: #ececec;
	justify-content: space-between;
	z-index: 1;
		}
		.article img{
			width: 100%;
		}

		.autor{
			color: #fff;
			font-size: 0.6em;
			padding: 0 0 0 0.5em;
			margin-top: -100px;
		}

		h2{
			font-size: 1em;
			text-transform: uppercase;
			padding: 0.4em;
			color: #fff;
		}
		p {
			padding: 2em 0.5em 0.5em 0.5em;
			font-size: 0.8em;
		  }
		  
		  .read-more-state {
			display: none;
		  }
		  
		  .read-more-target {
			opacity: 0;
			max-height: 0;
			font-size: 0;
			transition: .25s ease;
		  }
		  
		  .read-more-state:checked ~ .read-more-wrap .read-more-target {
			opacity: 1;
			font-size: inherit;
			max-height: 999em;
		  }
		  
		  .read-more-state ~ .read-more-trigger:before {
			content: 'Show more';
		  }
		  
		  .read-more-state:checked ~ .read-more-trigger:before {
			content: 'Show less';
		  }
		  
		  .read-more-trigger {
			cursor: pointer;
			display: inline-block;
			padding: 0.5em;
			color: #fff;
			background-color: darken($color: #000000, $amount: 0);
			font-size: .7em;
			line-height: 2;
			border: 1px solid #ddd;
			border-radius: .25em;
		  }
 
aside {
	background:#e67e22;
	padding:1em;

	flex:1 0 20%;
	display: flex;
	flex-wrap:wrap;
	justify-content:flex-start;
	flex-direction:column;
	z-index: 2;
}
 
aside .widget {
	background: #d35400;
	height:8em;
	margin:0.62em;


}
.div_imagen{
	align-items: center;
	vertical-align: middle;
	display: flex;
}

.imagen{
	max-height: 7em;
	margin: auto;
	padding: 1em;

}

.imagen:hover {
	transform: rotateY(180deg);
	transform-style: preserve-3d;
	
}

 
footer {
	background:#2c3e50;
	width: 100%;
	padding:1em;
	align-items: center;
	text-align: center;
 
	display: flex;
	flex-wrap:wrap;
	justify-content:center;
}
 
footer .links {
	background:#c0392b;
	width: 90%;
	margin: 0.5em;

	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	
}
 
footer .links a {
	flex-grow:2;
	
	color:#fff;
	padding:1em;
	text-align: center;
	text-decoration:none;
}
 
footer .links a:hover {
	background:#E74C3C;
}
 
 
@media screen and (min-width: 600px) and (max-width: 800px) {
	.contenedor {
		flex-direction:colum;
	}
 
	header {
		padding:0;
		align-items: center;
		justify-items: center;
		& .search {
			max-width: 80%;
		}
	}
 
	header .logo {
		margin:20px 0;
	}
 
	header nav {
		width: 100%;
	}

	.news{
		
		flex-direction: row;
	}
	.autor{
		font-size: 0.5em;
	}

	h2{
		font-size: 1em;
	}
	p{
		font-size: 0.7em;
	}
 
	aside {
		flex-direction:row;
	}
 
	aside .widget {
		flex-grow:1;
	}
}
 
@media screen and (min-width: 801px) {
	.contenedor {
		background: #ccc;
		width: 90%;
		max-width: 100em;
		margin: auto;
		display: flex;
		flex-flow: row wrap;
		flex-direction: column; }

	header {
		align-items: center;
		justify-items: center;
		& .search {
			max-width: 50%;
		}
	}

	header .logo {
		flex-direction: row;
	}

	header .logo h1 {
		font-size: 1.5em;
		padding: 0.5em;
	}

	header .logo img {
		width:3em;
		height: 3em;
	}

	.nav_mobile{
		display: none;
	}

	.nav_desktop{
		display: flex;
	}

	.check {
		display: none;
	}

	

	.nav_desk{
		font-family: "Avenir Next", "Avenir", sans-serif;
		overflow-x: hidden;
		background-color: #e67e22;
		color: white;
		min-width: 10vw;
		padding: 1em;
		  
		display: flex;
  		flex-wrap: wrap;
		flex-direction: column;	
		flex-grow:1;
		
	}
	  
	.a_menu{
		background: #c0392b;
  		margin: 0.5em;
  		display: flex;
  		flex-wrap: wrap;
		transition: color 0.3s ease;
		text-decoration: none;
		color: white;
		
		display: flex;	
	 }

	 .a_menu:hover {
		background: #E74C3C; 
	}

	.a_menu:active {
		position:relative;
		top:1px;
	}

	 li {
		list-style: none;
		padding: 1em;
	 }
	  
	
	.article_aside{
		flex-direction: row;

	}

	.news {
		flex-direction: row;
		
	}

	.news article {
		flex-direction: row;

	}

 
	footer {
		justify-content: center;

	}
}